{% for post in userPosts %}
  <div class="card-display">
      <div class="post_by_user">
        <div>
          <a href="">
            <img src = "/{{ post.postFile }}" width = "200" height = "250">
          </a>
          <a href="">
            <h6>{{ post.postComment }}</h6>
          </a>
        </div>
      </div>
      <div><p></p></div>
      <div>

      </div>
      <div class="bot-icons d-flex justify-content-around">
        <a href="#"><span class="bi bi-heart"></span></a>
        <a href="#"><span class="bi bi-chat"></span></a>
        <a href="#"><span class="bi bi-share"></span></a>
      </div>
      <div class="share-icons d-flex justify-content-start">
        <a target="_blank" href="">
          <span class="bi bi-facebook"></span>
        </a>
        <a target="_blank" href="">
          <span class="bi bi-twitter"></span>
        </a>
      </div>
    </div>
{% endfor %}
